body {
    font-family: "Roboto", sans-serif; 
    color: #222328;
    background-color: #F8F5ED;
}

html {
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: #201D1E;
}

a:hover {
    color: #ff8f00;
}

ul {
    list-style-type: none;
    background-color: #FFFFFF;
}

li {
  border-bottom: 1px solid #DDE2E4;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.crater-logo {
    width: auto;
    height: 35px;
}

.call-to-action-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.call-to-action{
}

.curatorLogoContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    justify-content: center;
    gap: 50px;
}

.statsColumnContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    justify-content: center;
    gap: 50px;
}
