body {
    font-family: "Roboto", sans-serif; 
    color: #222328;
    background-color: #F8F5ED;
}

html {
    -webkit-font-smoothing: antialiased;
}

a {
    color: #222328;
    text-decoration: none;
}

ul {
    background-color: #FFFFFF;
}

li {
  border-bottom: 1px solid #DDE2E4;
}

.crater-logo {
    width: auto;
    height: 35px;
}

.curatorLogoContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 50px;
}

.statsColumnContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 50px;
}
